.login_continer{
    height: 100vh;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.login_box{
    background-color: #c3f1fb;
    padding: 20px 40px;
}

.login_box a{
    text-decoration: underline;
    color: blue;
}

.input_field{
    width: 100%;
    margin-bottom: 10px;
}

/* .form_action{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.new_user{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new_user hr{
    display: inline-block;
    background: #838080;
    height: 1px;
    width: 100px;
}

.login_bottom .btn_regular{
    width: 100%;
    margin-bottom: 15px;
}

.login_continer input{
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #00000021;
    padding: 12px 0 12px 12px;
}